<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Campaign</title>
</head>
<body>
    <h1>Add Campaign</h1>
    <form method="post" action="#" th:action="@{/savecampaign}" th:object="${campaign}">
        <p>
            <label>Name: <input type="text" th:field="*{name}" /></label>
        </p>
        <p>
            <label>Description: <input type="text" th:field="*{description}" /></label>
        </p>
        <p>
            <label>Game:
                <select th:field="*{game.id}" class="form-control">
                    <option th:each="gam : ${games}" th:value="${gam.id}" th:text="${gam.title}">
                        game
                    </option>
                </select>
            </label>
        </p>
        <!--User field: This may be temporary, pending authentication implementation -->
        <p>
            <label>User:
                <select th:field="*{user}" class="form-control">
                    <option th:each="usr : ${users}" th:value="${usr.id}" th:text="${usr.username}">
                        game
                    </option>
                </select>
            </label>
        </p>
        <p>
            <label th:each="status : ${statuses}">
                Campaign Status:
                <input type="radio" th:field="*{status}" th:value="${status}" th:text="${status}" />
            </label>
        </p>
        <p>
            <input type="submit" value="Add Campaign" />
        </p>
    </form>
</body>
</html>