<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Game</title>
</head>
<body>
    <div th:replace="~{fragments :: nav}"></div>

    <h1>Add New Game</h1>
    <form method="post" action="#" th:action="@{/savegame}" th:object="${game}">
        <p>
            <label>Title: <input type="text" th:field="*{title}" /></label>
        </p>
        <p>
            <label>Description: <input type="text" th:field="*{description}" /></label>
        </p>
        <p>Genre:
            <label th:each="genre : ${genres}">
                <input type="checkbox" name="genreIds" th:value="${genre.id}" />
                <span th:text="${genre.name}"></span>
            </label>
        </p>
        <p>
            <label>Year published: <input type="text" th:field="*{yearPublished}" /></label>
        </p>
        <p><input type="submit" value="Add Game" /></p>
    </form>
</body>
</html>