<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Genre</title>
</head>
<body>
    <div th:replace="~{fragments :: nav}"></div>

    <h1>Add Genre</h1>
    <form method="post" action="#" th:action="@{/savegenre}" th:object="${genre}">
        <p>
            <label>Name: <input type="text" th:field="*{name}" /></label>
        </p>
        <p><input type="submit" value="Add Genre" /></p>
    </form>
</body>
</html>