<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campaign</title>
</head>
<body>
    <div th:replace="~{fragments :: nav}"></div>

    <h1>Edit Campaign</h1>
    <form method="post" action="#" th:action="@{../savecampaign}" th:object="${campaign}">
        <input type="hidden" th:field="*{id}" />
        <p>
            <label>Name: <input type="text" th:field="*{name}" /></label>
        </p>
        <p>
            <label>Description: <input type="text" th:field="*{description}" /></label>
        </p>
        <p>
            <label>Game:
                <select th:field="*{game.id}">
                    <option th:each="gam : ${games}" th:value="${gam.id}" th:text="${gam.title}">game</option>
                </select>
            </label>
        </p>
        <input type="hidden" th:field="*{user.id}" />
        <p>Campaign Status:
            <label th:each="status : ${statuses}">
                <input type="radio" th:field="*{status}" th:value="${status}" th:text="${status}" />
            </label>
        </p>
        <p><input type="submit" value="Save Campaign" /></p>
    </form>
</body>
</html>