<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Game</title>
</head>
<body>
    <h1>Edit Game</h1>

    <form method="post" action="#" th:action="@{../savegame}" th:object="${game}">
        <input type="hidden" th:field="*{id}" />
        <p>
            <label>Title: <input type="text" th:field="*{title}"/></label>
        </p>
        <p>
            <label>Description: <input type="text" th:field="*{description}"/></label>
        </p>
        <p>Genre:
            <label th:each="genre : ${genres}">
                <input type="checkbox"
                       name="genreIds"
                       th:value="${genre.id}"
                       th:checked="${game.genres.contains(genre)}" />
                <span th:text="${genre.name}"></span>
            </label>
        </p>
        <p>
            <label>Year published: <input type="text" th:field="*{yearPublished}" /></label>
        </p>
        <p>
            <input type="submit" value="Submit game" />
        </p>
    </form>
</body>
</html>