<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game List</title>
</head>
<body>
    <h1>Games</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Year Published</th>
        </tr>
        <tr th:each="game : ${games}">
            <td th:text="${game.title}">title</td>
            <td th:text="${game.description}">description</td>
            <td th:text="${game.genres}">genre</td>
            <td th:text="${game.yearPublished}">year</td>

            <td>
                <a th:href="@{/editgame/{id}(id=${game.id})}" class="btn">Edit</a>
            </td>
            <td>
                <a th:href="@{/deletegame/{id}(id=${game.id})}" class="btn">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/addgame" class="btn">Add Game</a>
</body>
</html>