<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game List</title>
</head>
<body>
    <div th:replace="~{fragments :: nav}"></div>

    <h1>Games</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Year Published</th>
            <th></th>
        </tr>
        <tr th:each="game : ${games}">
            <td th:text="${game.title}">title</td>
            <td th:text="${game.description}">description</td>
            <td>
                    <span th:each="genre, iter : ${game.genres}"
                          th:text="${genre.name + (iter.last ? '' : ', ')}"></span>
            </td>
            <td th:text="${game.yearPublished}">year</td>
            <td>
                <a th:href="@{/editgame/{id}(id=${game.id})}">Edit</a>
                <a th:href="@{/deletegame/{id}(id=${game.id})}">Delete</a>
            </td>
        </tr>
    </table>
<p><a href="/addgame">Add Game</a></p>
</body>
</html>
