<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User List</title>
</head>
<body>
<h1>Users</h1>

<table>
    <tr>
        <th>Username</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">username</td>
        <td th:text="${user.role}">role</td>
        <td>
            <a th:href="@{/edituser/{id}(id=${user.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/deleteuser/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>
<p>
    <a href="/adduser">Add User</a>
</p>
</body>
</html>